/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
.rspec_status
.env.development
.env.test
